body {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(1, 8, 12, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(49, 55, 58, 0.6)
      ),
      url(https://cdn.pixabay.com/photo/2017/08/10/08/47/laptop-2620118_1280.jpg);
  
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-composite: border;
    color: rgb(178, 173, 162);
}

.textos {
    text-align: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.sobre {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sobre p{
    flex: 1;
}


.sobre img{
    width: 250px;
    height: 350px;
    display: flex;
    border-radius: 15px;
    float: right;
    margin-left: 20px;
}


.habilidades {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.habilidades h2{
    text-align: center;
}

.habilidades p{
    text-align: center;
}

.habilidades img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.habilidades ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidades li{
    margin: 15px;
}

.contactos img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.contactos {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.contactos ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactos li{
    margin: 20px;
}

footer{
    text-align: center;
    padding: 2px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    clear: both;
}
.proyectos {
    text-align: center;
    padding: 2px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.proyectos ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyectos li{
    margin: 20px;
}
.proyectos img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.titu {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.058);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
